= form_for @launch_alert do |f|
  .field
    = f.email_field :email, :class => "span3", :placeHolder => "email me when you go live...", :style => "text-align: center;"
  .actions
    = f.submit 'Tell me!', :class => "btn btn-success"
