.row
  .span12
    .hero-unit{:style => "text-align: center"}
      %h1
        citybam
      %hr
      %p
        - City.live.each do |city|
          %br
          = link_to city.name, city_path(city.name.downcase)
